.header__menu {
    background-color: $bg;
}

.menu {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__list {

    li {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: #fff;
        transition: all .3s;

        &:hover {
            color: $text;
        }
    }

}