.products {
    padding: 110px 0;
    background-color: $grey;
}

.products__inner--btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        padding: 0 25px;
        background-color: #fff;
        color: $bg;
        font-size: 14px;
        font-weight: 500;
        line-height: 37px;
        font-family: 'Roboto', sans-serif;
        border: none;
        cursor: pointer;
        transition: all .3s;

        &+button {
            margin-left: 5px;
        }

        &.active {
            background-color: $red;
            box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
            color: #fff;
        }

        &:hover {
            background-color: $red;
            box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
            color: #fff;
        }
    }
}

.products__inner--box {}

//item

.product__item {
    max-width: 442px;
    width: 100%;
    min-height: 408px;
    box-shadow: 0px 1px 2px 0px rgba(205,213,222,0.75);

    &--img {
        width: 100%;
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .3s;

        &:hover {
            opacity: .9;
        }
    }
}

.product__item--content {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    align-items: center;
}

.product__item--name {}

.product__item--title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: $bg;
}

.product__item--category {
    font-size: 14px;
    font-weight: 500;
    color: $green;
}

.product__item--price {
    padding: 25px 0;
    font-size: 20px;
    font-weight: 700;
    color: $bg;
}

.product__item--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.product__item--author {
    font-size: 14px;
    font-weight: 500;
    color: $text;
}

.product__item--rating {}