.tutorial {
    padding: 70px 0 110px;

}

.tutorial__inner {
    display: flex;
    justify-content: space-between;
}

.tutorial__item {
    max-width: 370px;
    width: 100%;
    text-align: center;
    
    &--img {
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &--title {
        background-color: #f8f8f8;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: $bg;
        font-size: 24px;
        padding: 30px 10px;
    }
}

